@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-opacity: 0.5;
}

body {
  @apply bg-gray-100;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: background-image 0.3s ease;
}

.header-style {
  background-color: rgba(var(--theme-color), var(--header-opacity));
}

.theme-text {
  color: color-mix(in srgb, var(--theme-color), white 40%);
}